.videoSideBar {
    position: absolute;
    top: 50%;
    right: 5px;
    color: white;
}

.videoSideBar__options {
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 440px) {
    .videoSideBar {
        top: 46%;
    }
  }